<div class="hidden fixed bg-white z-20 top-56 text-center p-2 py-6 rounded-xl left-6 right-6 md:left-1/3 md:right-1/3" data-deck-target="option">
  <div class="absolute top-2 right-4 cursor-pointer text-xl text-slate-400 hover:text-slate-900" data-action="click->deck#hide_option">
    <i class="fa-solid fa-xmark"></i>
  </div>
  <div class="font-bold text-xl text-emerald-500">
    Deck Options 
    <div class="mt-2 flex flex-col w-3/4 gap-3 mx-auto text-lg">
      <%= button_to "#", class:"grid grid-cols-4 items-center bg-blue-500 text-white px-4 py-2 rounded-lg w-full" do %> 
        <i class="fa-solid fa-circle-play"></i>
        <span class="col-span-3 text-left">Start studying</span>
      <% end %>
      <%= button_to "#", class:"grid grid-cols-4 items-center bg-emerald-500 text-white px-4 py-2 rounded-lg w-full" do %> 
        <i class="fa-solid fa-pen"></i>
        <span class="col-span-3 text-left">Edit deck</span>
      <% end %>
      <%= button_to "#", method: :delete, class:"grid grid-cols-4 items-center bg-red-500 text-white px-4 py-2 rounded-lg w-full" do %> 
        <i class="fa-solid fa-trash-can"></i>
        <span class="col-span-3 text-left">Delete deck</span>
      <% end %>
    </div>
  </div>
</div>
