<div class="hidden h-full overflow-auto mt-28 mx-auto w-fit text-2xl md:text-4xl text-center" data-study-target="question">
  <p>
    <%= card.question %>
  </p>
</div>
<div class="hidden h-full overflow-auto mt-28 mx-auto w-fit text-2xl md:text-4xl text-center" data-study-target="answer">
  <p>
    <%= card.answer %>
  </p>
</div>
