<div class="md:flex gap-4" data-controller="dashboard">
  <%= render 'shared/sidebar' %>
  <div class="relative mx-10 mt-4 text-slate-900 md:p-2 z-0">
    <div class="z-0">
      <%= render 'deck_header', fclass: @fclass, user: @user %>
    </div>
  </div>
  <%= render 'dashboards/modal' %>
</div>
